<div class="products">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://keycode24.net/139-large_default/minecraft-premium-mojang-change-nickskin-mc-gift-code-game-pc-100-full-version-free-gifts-random-games-discounts.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://keycode24.net/139-large_default/minecraft-premium-mojang-change-nickskin-mc-gift-code-game-pc-100-full-version-free-gifts-random-games-discounts.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://keycode24.net/139-large_default/minecraft-premium-mojang-change-nickskin-mc-gift-code-game-pc-100-full-version-free-gifts-random-games-discounts.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
            </div>
        </div>
    </div>
</div>

